@import "tailwindcss";


@keyframes scale-fade {
  0% { transform: scale(0); opacity: 0; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}
.animate-scale-fade {
  animation: scale-fade 0.4s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

body {
  background-color: #292929;
  color: white;
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #1e293b; 
}
::-webkit-scrollbar-thumb {
  background-color: #ac51fc; 
  border-radius: 4px;
}

.input {
  width: 100%;                 
  margin-bottom: 1rem;        
  background-color: #374151;    
  border: 1px solid #4b5563;    
  border-radius: 0.375rem;      
  padding: 0.5rem 0.75rem;    
  outline: none;               
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
  border-color: #a78bfa;        
  box-shadow: 0 0 0 2px rgba(168, 85, 247, 0.5); 
}


.btn {
  background-color: #ac51fc; 
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #8800FF; 
}
.btn:disabled {
  background-color: #c88bfe;
  cursor: not-allowed;
  opacity: 0.7;
}


.cancel-btn {
  padding-left: 1.5rem;   
  padding-right: 1.5rem;  
  padding-top: 0.5rem;   
  padding-bottom: 0.5rem;
  cursor: pointer;
  background-color: #4b5563; 
  border-radius: 0.375rem;  
  transition: background-color 0.2s ease-in-out; 
}

.cancel-btn:hover {
  background-color: #6b7280; 
}

